In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn import feature_extraction
from sklearn import model_selection

In [12]:
data = pd.read_csv(r"E:\github\data science projects\2-House Prices\train.csv", )
test = pd.read_csv(r"E:\github\data science projects\2-House Prices\test.csv")

# print('data columns:', data.columns)
# print('test columns:', test.columns)

d = pd.DataFrame(data.columns)
t = pd.DataFrame(test.columns)
pd.concat([d, t], axis=1).tail()

                0              0
76         MoSold         MoSold
77         YrSold         YrSold
78       SaleType       SaleType
79  SaleCondition  SaleCondition
80      SalePrice            NaN

'MSSubClass'